{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ seminar.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for seminar as keywords %}
{% for keyword in keywords %}
	{% if not forloop.first %}, {% endif %}
	{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ seminar.description }}
{% endmetablock %}{% endblock %}

{% block title %}{{ seminar.title }}{% endblock %}

{% block right_panel %}
	{% if seminar.featured_image %}
		<img src="{{ MEDIA_URL }}{% thumbnail seminar.featured_image 400 0 %}" alt="" class="img-responsive">
	{% endif %}
	<h3>{{ seminar.title }}</h3>
	<ul class="list-unstyled">
		<li>Price: {{ seminar.get_price_display }}</li>
		<li>Length: {{ seminar.get_length_display }}</li>
		<li>Subjects: {{ seminar.get_subjects_display }}</li>
	</ul>
	<p>
		{% if registration %}
			<strong>You registered for this seminar on {{ registration.created|date }}</strong>
		{% else %}
			<a href="{% url 'seminars:registration_create' seminar.slug %}" class="btn btn-primary">Register</a>
		{% endif %}
	</p>
	<p><a href="{% url 'seminars:list' %}">Browse all seminars</a></p>
{% endblock right_panel %}

{% block main %}
	{# Private content #}
	{% if registration %}
		<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px">
			{% for area in seminar.content_areas.all %}
				<li role="presentation" {% if forloop.first %}class="active"{% endif %}>
					<a href="#content-{{ area.pk }}" role="tab" data-toggle="tab">{{ area.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for area in seminar.content_areas.all %}
				<div
					role="tabpanel"
					class="tab-pane {% if forloop.first %}active{% endif %}"
					id="content-{{ area.pk }}"
				>
					{{ area.content|richtext_filters|safe }}
				</div>
			{% endfor %}
		</div>

		<p>
			{% if survey_response %}
				<strong>You took the seminar survey on {{ survey_response.created|date }}.</strong>
			{% elif seminar.survey_questions.count %}
				<a href="{% url 'seminars:survey_response_create' seminar.slug %}" class="btn btn-primary">
					Complete the post seminar survey
				</a>
			{% endif %}
		</p>

	{# Public content #}
	{% else %}
		{{ seminar.content|richtext_filters|safe }}
	{% endif %}
{% endblock main %}
